

<div class="panel panel-default">
	<div class="panel-heading">Login</div>
	<div class="panel-body">
		<div class="container" style="max-width: 750px;">
            {{loginTarget}}
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		
	});
</script>
