
#maincontainer {
	padding: 6px 15px 6px 15px;
}

.controlBtnGroup {
	margin: 1px 15px 1px 0px;
}

.slider-selection {
	background: #BABABA;
}

.oceanteaSelectionTable {
	width: 100%;
	display: table;
	margin: -3px 0px 0px 0px;
}

.oceanteaSelectionTableRow {
	width: 100%;
	display: table-row;
}

.oceanteaSelectionTableCell {
	display: table-cell;
}

.oceanteaLabelSection {
	text-align: left;
	width: 10em;
}

.oceanteaBtnSection {
	text-align: left;
	float: left;
}

.btnGroupContainer {
	display: block;
	margin: 0px;
	padding: 0px;
}

.oceanteaSelectionBtn {
	margin: 3px;
}
