
#maincontainer {
	padding: 6px 15px 6px 15px;
}

.controlBtnGroup {
	margin: 1px 15px 1px 0px;
}

.slider-selection {
	background: #BABABA;
}

.otsvisSelectionTable {
	width: 100%;
	display: table;
	margin: -3px 0px 0px 0px;
}

.otsvisSelectionTableRow {
	width: 100%;
	display: table-row;
}

.otsvisSelectionTableCell {
	display: table-cell;
}

.otsvisLabelSection {
	text-align: left;
	width: 10em;
}

.otsvisBtnSection {
	text-align: left;
	float: left;
}

.btnGroupContainer {
	display: block;
	margin: 0px;
	padding: 0px;
}

.otsvisSelectionBtn {
	margin: 3px;
}
